@import "../../styles/styles";

h1 {
  font-size: $fs-20  !important;
  color: $azul;
}

p {
  color: red;
  font-weight: bold;
  font-size: 50px !important;
}

ul {
  list-style: none;

  li {
    font-size: 25px !important;
    font-weight: bold;

    &:hover {
      color: $azul-claro;
    }
  }

}