@import "../../styles/variables";

p {
    text-align: justify;
    text-indent: .5em
}

.main {
    width: 100%;
    min-height: 550px;
    text-align: center;
    position: relative;
    cursor: pointer;

    &:hover {
        .service {
            transform: translateY(-50px);
        }

        .sombra1 {
            transform: translateY(-25px);
        }
    }
}

.service {
    background: white;
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    box-shadow: 0 0 50px -15px black;
    z-index: 1;
    transition: transform .7s;

}

.service-logo {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 10px solid hsl(227, 56%, 66%);
    margin: -90px auto 0;
    background: white;

    img {
        width: 70px;
        margin-top: 25px;

    }

}

.service h4 {
    height: 35px;
    width: 80%;
    background: white;
    margin: 50px auto;
    position: relative;

    &::after {
        content: '';
        width: 40px;
        height: 30px;
        background: linear-gradient(to right, white, #d2bef8);
        position: absolute;
        height: -5px;
        top: -5px;
        z-index: -1;
    }
}

.sombra1 {
    @include sombra(80%, 10%, -1);
    box-shadow: 0 0 20px -15px black;
    transition: transform .7s;
}

.sombra2 {
    @include sombra(64%, 18%, -2);
}