@import "../../styles/styles";


body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: hsl(226, 100%, 91%);
}

.hero-title {
  font-weight: bold;
  color: $branco;
  font-size: $fs-32  !important;
  text-align: center;
  text-shadow: 2px 2px 4px $preto;
  margin-bottom: 2%;
  margin-top: 2%;
}

.gif {
  text-align: center;
}

footer {
  padding: 10px;
  text-align: center;
  width: 100%;
  margin-top: auto;
}

/* Estilos personalizados para os efeitos js*/
.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, visibility 1s ease;
}

main.hidden {
  display: nome;
}

.zoom-in {
  animation: zoomInAnimation 2s ease;
}

.gif img {
  animation: zoomInAnimation 5s ease;
}

@keyframes zoomInAnimation {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}