@import "../../styles/variables";

#courses {
  .box-container {
    @include box-container(27.5rem);

    .box {
      @include box(var(--white));
      height: 437px;

      .tutor {
        margin-bottom: 2.5rem;
        display: flex;
        align-items: center;
        gap: 2rem;

        img {
          @include profileImage(5rem);
        }

        h3 {
          font-size: $fs-18;
          color: var(--dark-blue);
          margin-bottom: .2rem;
        }

        span {
          font-size: $fs-13;
          color: var(--black);
        }
      }

      .thumb {
        position: relative;

        img {
          width: 100%;
          border-radius: .5rem;
          height: 20rem;
          object-fit: cover;
        }

        span {
          position: absolute;
          top: 1rem;
          left: 1rem;
          border-radius: .5rem;
          padding: .5rem 1.5rem;
          background-color: rgba(0, 0, 0, .3);
          color: white;
          font-size: 1.5rem;
        }
      }

      .btn {
        width: fit-content;
      }

      .title {
        font-size: $fs-20;
        color: var(--black);
        margin-top: .5rem;
        padding: .5rem 0;
        height: 5.8rem;
      }
    }
  }

  .btn {
    width: fit-content;
  }
}