@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");
.btn-dark-blue {
  background-color: var(--dark-blue);
  color: var(--white);
}
.btn-dark-blue:hover {
  border: 1px solid var(--dark-blue);
  color: var(--dark-blue);
  background-color: transparent;
}

.btn-red {
  background-color: hsl(6, 78%, 57%);
  color: var(--white);
}
.btn-red:hover {
  border: 1px solid hsl(6, 78%, 57%);
  color: hsl(6, 78%, 57%);
  background-color: transparent;
}

.btn-orange {
  background-color: hsl(37, 90%, 51%);
  color: var(--white);
}
.btn-orange:hover {
  border: 1px solid hsl(37, 90%, 51%);
  color: hsl(37, 90%, 51%);
  background-color: transparent;
}

:root {
  --dark-blue: hsl(227, 64%, 14%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(210, 29%, 24%);
  --light-color: hsl(0, 0%, 53%);
  --light-bg: hsl(227, 100%, 91%);
  --border: .1rem solid rgba(0, 0, 0, .2);
}

* {
  font-family: "Nunito", sans-serif;
  outline: none;
  border: none;
  text-decoration: none !important;
}
*::-moz-selection {
  background-color: var(--dark-blue);
  color: var(--white);
}
*::selection {
  background-color: var(--dark-blue);
  color: var(--white);
}
*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--dark-blue);
}

html {
  /* 1rem = 10px */
  font-size: 62.5% !important;
  width: 100vw !important;
}

main {
  min-height: 100vh;
}

body {
  background-color: var(--light-bg);
  overflow-x: hidden;
}
body.dark {
  --dark-blue: hsl(227, 100%, 91%);
  --white: #222;
  --black: #fff;
  --light-color: #aaa;
  --light-bg: #333;
  --border: .1rem solid rgba(255, 255, 255, .2);
}

section {
  max-width: 1200px !important;
  padding: 2rem;
  margin: 0 auto;
}

.heading {
  font-size: 2.5rem;
  color: var(--black);
  margin: 2.5rem auto;
  border-bottom: var(--border);
  padding-bottom: 1.5rem;
  text-transform: capitalize;
  text-align: center;
  min-width: 235px;
  max-width: 30%;
  left: 50%;
}

.btn,
.option-btn,
.delete-btn,
.inline-btn,
.inline-option-btn,
.inline-delete-btn {
  border-radius: 0.5rem !important;
  padding: 1rem 3rem !important;
  font-size: 1.8rem !important;
  text-transform: capitalize !important;
  transition: 0.2s ease-out !important;
}

.btn,
.option-btn,
.delete-btn {
  display: block;
  width: 100%;
}

.inline-btn,
.inline-option-btn,
.inline-delete-btn {
  display: inline-block;
}

/* HEADER */
header {
  background-color: var(--white);
  border: var(--border);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
}
header .section-header {
  padding: 1.5rem 2rem;
}
header .logo {
  font-size: 2.5rem;
  color: var(--black);
  font-weight: bolder;
}
header .search-form {
  width: 50rem;
  border-radius: 0.5rem;
  gap: 2rem;
  background-color: var(--light-bg);
  padding: 1.5rem 2rem;
}
header .search-form input {
  width: 100%;
  background: none;
  font-size: 1.8rem;
  color: var(--black);
}
header .search-form button {
  font-size: 2rem;
  color: var(--black);
  cursor: pointer;
  background: none;
  transition: 0.2s ease-out;
}
header .search-form button:hover {
  color: var(--dark-blue);
}
header .icons div {
  font-size: 2rem;
  color: var(--black);
  border-radius: 0.5rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.4rem;
  background-color: var(--light-bg);
  text-align: center;
  margin-left: 0.5rem;
  cursor: pointer;
  transition: 0.2s ease-out;
}
header .icons div:hover {
  background-color: var(--black);
  color: var(--white);
}
header #search-btn {
  display: none;
}
header .profile {
  top: 120%;
  right: 2rem;
  background-color: var(--white);
  border-radius: 0.5rem;
  padding: 2rem;
  width: 30rem;
  transform: scale(0);
  transform-origin: top right;
  transition: 0.2s linear;
}
header .profile.active {
  transform: scale(1);
}
header .profile img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}
header .profile h3 {
  font-size: 2rem;
  color: var(--black);
}
header .profile p {
  font-size: 1.6rem;
  color: var(--light-color);
}
@media (max-width: 991px) {
  header html {
    font-size: 55%;
  }
}
@media (max-width: 777px) {
  header #search-btn {
    display: inline-block;
  }
  header .search-form {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    width: auto;
    border-block: var(--border);
    background-color: var(--white);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.2s linear;
  }
  header .search-form.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
/* SIDEBAR */
#sidebar .profile {
  padding: 3rem 2rem;
}
#sidebar .profile img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}
#sidebar .profile h3 {
  font-size: 2rem;
  color: var(--black);
}
#sidebar .profile p {
  font-size: 1.6rem;
  color: var(--light-color);
}
#sidebar .navbar {
  margin-top: 1rem;
}
#sidebar .navbar a {
  display: block;
  padding: 1.5rem 2.5rem;
  width: 100%;
  margin: 0.5rem 0;
  border-radius: 5px;
  font-size: 1.8rem;
}
#sidebar .navbar a i {
  color: var(--dark-blue);
  margin-right: 1.5rem;
  transition: 0.2s ease-out;
}
#sidebar .navbar a span {
  color: var(--dark-blue);
  text-transform: capitalize;
}
#sidebar .navbar a:hover {
  background-color: var(--light-bg);
}
#sidebar .navbar a:hover i {
  margin-right: 2.5rem;
}
@media (max-width: 450px) {
  #sidebar {
    width: 75%;
  }
}

/* FOOTER */
footer {
  border-top: var(--border);
  background-color: var(--white);
  padding: 2.5rem 2rem;
  margin-top: 2rem;
  text-align: center;
  color: var(--black);
  font-size: 2rem;
  z-index: 500;
}
footer span {
  color: var(--dark-blue);
}/*# sourceMappingURL=styles.css.map */